$backgroundColor: #f350509c;
$radius: 40%;

form {
  display: inline-block;
  margin: auto;
  width: 200px;
  font-size: 30px;

  label {
    display: flex;
    margin: 1rem 0;
    color: rgb(21, 51, 111);

    &.methods {
      span {
        cursor: pointer;
        margin-right: 1rem;
        padding: .25rem .5rem;
        background: #e3afd5;

        &:hover, &.active {
          background: #f9e1e1;
        }
      }
    }
  }
}